.login__header {
    height: 82px;
}

.login__header-support {
    font-size: 14px;
    color: var(--primary-color);
}

.login__body {
    height: calc(100% - 82px);
    background-color: var(--primary-color);
}

.login__body-img {
    margin: auto;
    position: relative;
}

.login__body-form {
    position: absolute;
    top: 12%;
    right: 15px;
    background-color: var(--secondary-color);
    height: 475px;
    width: 400px;
    border-radius: 3px;
    margin: auto;
    padding: 32px;
}

.login__body-form--header {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 31px;
}

.form-control {
    height: 40px;
    width: 340px;
}

.form-control:focus {
    border: black solid 1px;
    box-shadow: none;
}

.login__body-form--header-input {
    font-size: 12px;
    padding: 12px;
}

.login__body-form--password {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 340px;
}

.login__body-form--password:focus {
    border: 1px solid black;
}

.input-password {
    border: none;
}

.input-password:focus {
    border: none;
}

.login__body-form--header-input-icon {
    margin-right: 15px;
    cursor: pointer;
}

.invalid-feedback {
    font-size: 12px;
}

.input-error {
    font-size: 12px;
    color: #dc3545;
}


/* button */

.btn-register-login {
    height: 40px;
    width: 340px;
    background-color: #EE4D2E;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.notlogin {
    opacity: .8;
    cursor: default;
}

.login__body-form--forgotpass {
    padding: 10px 0 0 0;
}

.form-forgotpass--link {
    font-size: 12px;
}

.login__body-form--dash {
    margin: 20px 0;
}

.login__body-form--dash-lf {
    height: 1px;
    width: 100%;
    background-color: #CCD0DB;
}

.login__body-form--dash-content {
    font-size: 12px;
    color: #CCD0DB;
    padding: 0 16px;
}

.iconfacebook {
    color: white;
    font-size: 18px;
}

.login__body-form--btnapp-fbook {
    background-color: #1877f2;
}

.login__body-form--btnapp-google {
    background-color: #1877f2;
}

.login__body-form--btnapp-apple {
    background-color: #1877f2;
}

.login__body-form--btnapp-fbook:hover,
.login__body-form--btnapp-google:hover,
.login__body-form--btnapp-apple:hover {
    opacity: .8;
}

.login__body-form--btnappname {
    font-size: 14px;
    color: white;
    padding-left: 5px;
}

.login__body-form--register {
    font-size: 12px;
    margin-top: 35px;
}

.login__body-form--register-content {
    color: #c5c6c9;
}

.login__body-form--register-link {
    padding-left: 12px;
    color: #EE4D2E;
}

.login__body-form--register-link:hover {
    color: #EE4D2E;
    text-decoration: none;
}


/* end login  */


/* register  */

.register__body-form {
    position: absolute;
    top: 7%;
    right: 15px;
    background-color: #FFFFFF;
    height: 520px;
    width: 400px;
    border-radius: 3px;
    margin: auto;
    padding: 32px;
}

.body-form--rules-content {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.login__header-title {
    margin-left: 10px;
}


/* img */

.auth-img {
    width: 170px;
}