.login__header {
    height: 82px;
}

.login__header-support {
    font-size: 14px;
    color: var(--primary-color);
}

.login__body {
    height: 600px;
    background-color: var(--primary-color);
}

.login__body-img {
    margin: auto;
    position: relative;
}

.login__body-form {
    position: absolute;
    top: 12%;
    right: 15px;
    background-color: var(--secondary-color);
    height: 475px;
    width: 400px;
    border-radius: 3px;
    margin: auto;
    padding: 32px;
}

.login__body-form--header {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 31px;
}

.form-control {
    height: 40px;
    width: 340px;
}

.form-control:focus {
    border: black solid 1px;
    box-shadow: none;
}

.login__body-form--header-input {
    font-size: 12px;
    padding: 12px;
}

.login__body-form--password {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 340px;
}

.login__body-form--password:focus {
    border: black solid 1px;
}

.input-password {
    border: none;
}

.input-password:focus {
    border: none;
}

.login__body-form--header-input-icon {
    margin-right: 15px;
    cursor: pointer;
}

.btn-register-login {
    height: 40px;
    width: 340px;
    background-color: #EE4D2E;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.notlogin {
    opacity: .8;
    cursor: default;
}

.login__body-form--forgotpass {
    padding: 10px 0 0 0;
}

.form-forgotpass--link {
    font-size: 12px;
}

.login__body-form--dash {
    margin: 20px 0;
}

.login__body-form--dash-lf {
    height: 1px;
    width: 100%;
    background-color: #CCD0DB;
}

.login__body-form--dash-content {
    font-size: 12px;
    color: #CCD0DB;
    padding: 0 16px;
}

.iconfacebook {
    color: white;
    font-size: 18px;
}

.login__body-form--btnapp-fbook {
    background-color: #1877f2;
}

.login__body-form--btnapp-google {
    background-color: #1877f2;
}

.login__body-form--btnapp-apple {
    background-color: #1877f2;
}

.login__body-form--btnapp-fbook:hover,
.login__body-form--btnapp-google:hover,
.login__body-form--btnapp-apple:hover {
    opacity: .8;
}

.login__body-form--btnappname {
    font-size: 14px;
    color: white;
    padding-left: 5px;
}

.login__body-form--register {
    font-size: 12px;
    margin-top: 35px;
}

.login__body-form--register-content {
    color: #c5c6c9;
}

.login__body-form--register-link {
    padding-left: 12px;
    color: #EE4D2E;
}

.login__body-form--register-link:hover {
    color: #EE4D2E;
    text-decoration: none;
}

<<<<<<< HEAD
/* end login  */


/* Product */
.product-details{
	overflow:hidden;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}
.product-information span span{
	display: block;
	width: 100%;
}

.product-information {
    border: 1px solid #F7F7F0;
    overflow: hidden;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
  }
  
  .newarrival{
      position:absolute;
      top:0;
      left:0
  }
  
  .product-information h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 0;
  }
  
  .product-information p {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
  }
  
  .product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
  }
  
  .product-information span span {
    color: #FE980F;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
  }
  .product-information span input {
    border: 1px solid #DEDEDC;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    outline: medium none;
    text-align: center;
    width: 50px;
  }
  
  .product-information span label {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-right: 5px;
  }
  
#similar-product {
    margin-top: 40px;
}
#similar-product .carousel-inner .item img{
	width: 65px;
}
.view-product {
    position: relative;
}

  
.view-product img {
    border: 1px solid #F7F7F0;
    height: 380px;
    width: 100%;
}
  
.view-product h3 {
    background: #FE980F;
    bottom: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 8px 20px;
    position: absolute;
    right: 0;
}
/* Product  */
=======

/* register  */

.register__body-form {
    position: absolute;
    top: 12%;
    right: 15px;
    background-color: #FFFFFF;
    height: 430px;
    width: 400px;
    border-radius: 3px;
    margin: auto;
    padding: 32px;
}

.body-form--rules-content {
    margin-top: 20px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
>>>>>>> f9b74b628d5620731c6e967488d61ea5d857922c
