.cart {
    margin-top: 20px;
}

.cart-logo {
    width: 170px;
}

.cart__header-title {
    padding-left: 10px;
    margin-top: 10px;
    border-left: var(--primary-color) solid 1px;
}

.cart-title {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 300;
}

.cart__header-search {
    border-radius: 2px;
    border: var(--primary-color) solid 2px;
}

.cart__header-input {
    border: none;
}

.cart__header-input:focus {
    border: none;
}

.cart-search {
    color: white;
    background-color: var(--primary-color);
    width: 85px;
    padding: 0;
    margin: 0;
}


/* body giỏ hàng  */

.cartbody {
    background-color: #f5f5f5;
    margin-top: 20px;
}

.cartbody__headeroflist {
    background-color: white;
    padding: 17px 20px;
}

.cartbody__checkall-check {
    padding: 0 15px;
    font-size: 20px;
    color: var(--primary-color);
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--primary-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.cartbody__headercolumn {
    font-size: 16px;
    font-weight: 500;
    color: #978888;
}


/* sản phẩm trong giỏ hàng */

.cartbody__headercolumn {
    font-size: 14px;
    font-weight: 300;
}

.cartbody__products {
    margin-top: 20px;
    background-color: white;
    padding: 17px 20px;
}

.cartbody__checkall,
.cartbody__productsinfo {
    margin: 10px 0;
}

.cartbody__products-check {
    padding: 0 17px;
}

.cartbody__products-productname {
    font-size: 13px;
    font-weight: 400;
    width: 230px;
}

.cartbody__productsinfo-unitprice {
    font-size: 13px;
    color: black;
}

.cartbody__productsinfo-amount {
    border-top: #c4c4c4 solid 1px;
    border-bottom: #c4c4c4 solid 1px;
    height: 33px;
}

.cartbody__productsinfo-amount--content {
    width: 58px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.cartbody__productsinfo-amount--content:focus {
    outline: 0;
}

.cartbody__productsinfo-amount--downup {
    width: 32px;
    height: 32px;
    border-top: none;
    border-bottom: none;
    border-right: #c4c4c4 solid 1px;
    border-left: #c4c4c4 solid 1px;
    background-color: transparent;
    padding: 1px 6px;
    text-align: center;
}

.cartbody__productsinfo-amount--downup span {
    font-size: 20px;
    font-weight: 300;
}

.cartbody__productsinfo-amount--downup:focus {
    border-top: none;
    border-bottom: none;
    border-right: #c4c4c4 solid 1px;
    border-left: #c4c4c4 solid 1px;
    outline: 0;
}

.cartbody__productsinfo-price {
    font-size: 13xp;
    color: var(--primary-color);
}

.cartbody__productsinfo-manipulation {
    font-size: 13px;
    color: var(--primary-color);
}


/* footer giỏ hàng  */

.cartfooter {
    margin-top: 20px;
    background-color: white;
    padding: 17px 20px;
}

.cartfooter__selectproduct-favoriteall {
    color: var(--primary-color);
}

.cartfooter__buyproduct-totalmoney--money {
    margin-left: 8px;
    font-weight: 300;
    color: var(--primary-color);
}

.cartfooter__buyproduct-btnbuy {
    width: 210px;
    background-color: var(--primary-color);
    border: none;
    margin-left: 15px;
}

.cartfooter__buyproduct-btnbuy:hover {
    background-color: var(--primary-color);
    border: none;
}