.body {
    margin: 0 !important;
    font-size: .875rem;
}

.header {
    height: var(--header-height);
    background: #f53d2d;
    background: -webkit-gradient(linear,left top,left bottom,from(#f53d2d),to(#f63));
    background: linear-gradient(-180deg,#f53d2d,#f63);
    padding-top: 4px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header_narbar-list {
    list-style: none;
    padding-left: 0;
    padding-top: 4px;
}

.header__navbar-item {
    min-height: 26px;
    position: relative;
}

.header__navbar-item > a {
    color:#fff;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 13px;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--strong {
    font-weight: 400;
    color: white;
}

.header__navbar-item-separate {
    border-right: 2px solid hsla(0, 0%, 100%, .22);
    padding: 0 .4375rem;
    display: inline-block;
    height: fit-content;
    min-height: auto !important;
    padding: 0 1rem;
    margin-right: 1rem;
}

.header__navbar--icon-link {
    color: white;
    text-decoration: none;
    height: 13px;
}

.header__navbar-icon {
    margin: 0 4px;
    font-size: 15px;
}

.center-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 254px;
    height: 88px;
}

.bottom-header {
    margin: 0 10px;
}

.search-keyword {
    width: 86%;
}

.search,
.input-search {
    width: 92%;
    height: 100%;
    border: none;
    margin-left: 10px;
}

.input-search:focus {
    border: none;
    outline: none;
}

.button-search {
    cursor: pointer;
}

.search,
.button-search .search-icon {
    color: white;
    background: red;
    padding: 6px 24px;
    border-radius: 2px;
}

.cart-button {
    display: inline-block;
    font-size: 24px;
    margin: 10px 34px;
    cursor: pointer;
}

.search {
    width: 100%;
    background-color: white;
    height: 37px;
    margin: 10px 10px 4px 10px;
    border-radius: 2px;
    position: relative;
    display: flex;
    padding: 5px 5px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.03);
}

.bottom-items {
    display: flex;
    align-items: center;
}

.category-item--header {
    list-style: none;
    margin-right: 20px;
}

.category-item--a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1;
}

.category-item--a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.header__avatar {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.header__avatar > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
}

.header__navbar-item--user:hover > a {
    color: rgba(255, 255, 255, 0.9);
}

.header__navbar-item--user:hover > .header__user-menu {
    transform: scale(1);
    opacity: 1;
}

.header__user-menu {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 30px;
    left: 0;
    margin: auto;
    transform: scale(0);
    transform-origin: top;
    opacity: 0;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
    z-index: 1;
    transition: all ease-out 200ms;
}

.header__user-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid #fff;
}

.user-menu__list {
    min-width: 144px;
    padding: 0.6rem 0;
}

.user-menu__item {
    padding: 0.6rem 1rem;
    cursor: pointer;
}

.user-menu__item > a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.85rem;
}

.user-menu__item:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.user-menu__item:hover > a {
    color: rgb(29, 185, 159);
}