.main-filter {
    background-color: rgba(0, 0, 0, 0.03);
    height: 60px;
    padding: 0 1.2rem;
    border-radius: 4px;
}

.main-filter__left--title {
    margin-bottom: 0;
    margin-right: 1rem;
    font-size: 1rem;
    color: #555;
}

.main-filter__left--list {
    display: flex;
    align-items: center;
    list-style: none;
}

.filter-list__item {
    color: #555;
    margin-right: 1rem;
    cursor: pointer;
    padding: 0.35rem 0.8rem;
    border-radius: 2px;
    background-color: var(--secondary-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.filter-list__item--active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.filter-list__item--select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

/* Category */
.categories {
    padding: 0.6rem 0;
}

.category-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.category-item--heading {
    line-height: 1.1;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.category-item > a {
    margin-left: 0.6rem;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    cursor: pointer;
}

.category-item > a:hover {
    text-decoration: none;
}

.category-item--active > a {
    color: var(--primary-color);
    font-weight: 600;
}

.category-item--active::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid var(--primary-color);
    transform: translateY(-70%);
}

/* Products */

.main-products {
    margin-top: 0.7rem;
}

.product-item {
    width: 100%;
    background-color: var(--secondary-color);
    height: 313px;
    margin-top: 0.7rem;
}

.product-item__img {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.product-item__img > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
