.main-product__wrapper,
.main-product__intro,
.main-product__review {
    --red: #d0011b;
    background-color: #fff;
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 2px;
}

.main-product__left {
    padding: 15px;
    width: 450px;
    flex-shrink: 0;
}

.main-product__right {
    padding: 1.4rem 2rem;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: auto;
}

.product-left__img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product-left__img--big {
    padding-top: 100%;
}

.product-right__title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.product-right__statistic {
    margin-top: 1rem;
}

.product-statistic__list {
    display: flex;
    align-items: center;
}

.statistic-item {
    position: relative;
    height: 26px;
    padding: 1px 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.statistic-item > a {
    color: unset;
}

.product-statistic__list > .statistic-item:first-child {
    padding-left: 0;
}

.product-statistic__list > .statistic-item:last-child {
    padding-right: 0;
    border-right: none;
}

.statistic-item__number {
    line-height: 1.2;
    margin-right: 6px;
    font-size: 1rem;
    font-weight: 500;
    color:#222;
    padding-bottom: 2px;
    border-bottom: 1px solid #555;
}

.statistic-item__number--red {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.statistic-item__star {
    color: var(--red);
    font-size: 0.9rem;
}

.statistic-item__text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.95rem;
}

.product-right__price {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1.4rem;
    height: 66px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
}

.product-right__price--unit {
    color: var(--primary-color);
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 6px;
    border-bottom: 1px solid var(--primary-color);
    margin-right: 2px;
}

.product-right__price--currency {
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 1;
    font-weight: 400;
}

.product-right__subtitle {
    width: 110px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}

.product-types__btn,
.product-types__btn:focus,
.product-types__btn:active {
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 80px;
    padding: 4px;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    margin-right: 8px;
    outline: none;
    font-size: 0.9rem;
}

.product-types__btn--disable:disabled {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}

.product-types__btn--active,
.product-types__btn--active:focus,
.product-types__btn--active:active {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    outline: none;
}

.product-types__check {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.95);
    font-size: 0.5rem;
    z-index: 1;
}

.product-types__check::after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: -2px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid var(--primary-color);
    transform: rotate(45deg);
    z-index: -1;
}

.product-types__btn--active > .product-types__check {
    display: inline-block;
}

.product-quantity__btn,
.product-quantity__btn:active,
.product-quantity__btn:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.product-quantity__btn,
.product-quantity__input {
    height: 32px;
    width: 32px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.product-quantity__input,
.product-quantity__input:focus,
.product-quantity__input:active {
    width: 50px;
    outline: none;
    text-align: center;
    border-right: none;
    border-left: none;
}

.product-right__quantity--text {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-bottom: -2px;
}

.product-cart__btn {
    width: 183px;
    height: 48px;
    font-size: 0.9rem;
    border: 1px solid var(--primary-color);
    outline: none;
    margin-right: 1.2rem;
    border-radius: 2px;
}

.product-cart__btn--outline,
.product-cart__btn--outline:focus,
.product-cart__btn--outline:active {
    background-color: rgba(208,1,27,.08);
    color: var(--primary-color);
    outline: none;
}

.product-cart__btn--outline:hover {
    background-color: rgba(208,1,27,.1);
}

.product-cart__btn--primary,
.product-cart__btn--primary:focus,
.product-cart__btn--primary:active  {
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 1);
    outline: none;
}

.product-cart__btn--primary:hover {
    background-color: #f05d40;
}

.product-left__images {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.product-image__item {
    display: inline-block;
    position: relative;
    padding: 5px;
    width: 92px;
    box-sizing: border-box;
    cursor: pointer;
}

.product-image__item:focus {
    border: none;
    outline: none;
}

.product-image__item:hover > .image-item__border {
    display: block;
}

.image-item__border {
    display: none;
}

.image-item__border,
.image-item__border:focus,
.image-item__border:active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--red);
    outline: none;
}

.image-item__bg {
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-images__ctn,
.product-images__ctn:focus,
.product-images__ctn:active {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    padding:7px 4px;
    border: none;
    outline: none;
    z-index: 2;
}

.product-images__ctn > i {
    font-size: 1.6rem;
}

.product-images__ctn--left {
    left: -4px;
}

.product-images__ctn--right {
    right: -4px;
}

.product-favorite {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.product-favorite > div > i {
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-right: .8rem; 
}

.product-favorite > p {
    color:rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
}

.heart-icon--full {
    display: none;
}

.product-right__footer {
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-right__footer > div {
    display: flex;
    align-items: center;
    width: 30%;
}

.product-right__footer--text {
    font-size: 0.9rem;
}

.mall-icon {
    background-repeat: no-repeat;
    background-image: url('../images/icons/mall-icons.png');
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.mall-icon--return {
    background-size: 284.72222222222223% 241.0958904109589%;
    background-position: 7.518796992481203% 9.70873786407767%;
}

.mall-icon--secure {
    background-size: 280.82191780821915% 241.0958904109589%;
    background-position: 84.84848484848484% 9.70873786407767%;
}

.mall-icon--deliver {
    background-size: 284.72222222222223% 241.0958904109589%;
    background-position: 7.518796992481203% 100%;
}

.main-product__intro,
.main-product__review {
    padding: 32px;
    margin-top: 1rem;
    flex-direction: column;
}

.product-intro__heading {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.8rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    width: 100%;
    color: rgba(0,0,0,.87);
}

.product-intro__wrapper {
    margin-top: 1.6rem;
}

.product-intro__wrapper > p {
    line-height: 1.8rem;
    font-size: .95rem;
    color: rgba(0,0,0,.8);
    white-space: pre-wrap;
}

.product-review__heading {
    color: rgba(0,0,0,.87);
    font-size: 1.1rem;
    text-transform: uppercase;
}

.product-review__star {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: #fffbf8;
    border: 1px solid #f9ede5;
    min-height: 4rem;
    padding: 1.2rem 1rem;
}

.review-star__text--score,
.review-star__text--max-score {
    color: var(--primary-color);
    line-height: 1.4rem;
}

.review-star__text--score {
    font-size: 1.8rem;
}

.review-star__text--max-score {
    font-size: 1rem;
}

.review-star__icon {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
}

.star-icon__wrapper,
.rate-icon__wrapper,
.new-review__rate--wrapper {
    position: relative;
    margin-right: 2px;
}

.star-icon__wrapper > svg,
.rate-icon__wrapper > svg,
.new-review__rate--wrapper > svg {
    overflow: hidden;
}

.star-icon__wrapper > div,
.rate-icon__wrapper > div,
.new-review__rate--wrapper > div {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.product-review__item {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.review-item__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.review-item__name,
.review-item__name:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.86rem;
}

.review-item__rate,
.new-review__rate {
    display: flex;
    align-items: center;
    margin-top: 4px;
}


.review-item__text {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 0.96rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.4rem;
}

.review-item__footer {
    font-size: 0.84rem;
    color: rgba(0, 0, 0, 0.6);
}

.new-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    padding: 0.6rem 0 1rem 0;
}

.new-review > img {
    margin-right: 8px;
    position: relative;
    bottom: 18px;
}

.new-review__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review__input {
    width: 95%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    font-size: 1rem;
    padding: 4px;
}

.review__btn-submit,
.review__btn-submit:focus,
.review__btn-submit:active {
    position: relative;
    bottom: 14px;
    background-color: var(--primary-color);
    color: #fff;
    min-width: 80px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.review__btn-submit:hover {
    background-color: #f05d40;
    color: #fff;
}

.new-review__wrapper {
    width: 100%;
}

.new-review__rate {
    margin-top: 8px;
}

.new-review__rate--wrapper {
    cursor: pointer;
}

.new-review__rate--wrapper > div {
    transition: all linear 0.15s;
}

#reviews nav > .pagination {
    justify-content: flex-end;
    margin-top: 1rem;
}

.page-link {
    color: rgba(0, 0, 0, 0.85);
}

.page-link:hover,
.page-link:active,
.page-link:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    box-shadow: none;
    outline: none;
}

.page-item.active .page-link {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.product-validator__notification {
    display: none;
    margin: 8px 0;
}

.product-validator__notification > p {
    color: var(--primary-color);
    font-size: 1rem;
}