ul{
    list-style-type: none;
    padding: 0 !important;
}
a{
    text-decoration: none !important;
}
body{
    font-size: 12px;
}
.box-content{
    display: flex;
}
.box-content .left{
    height: 500px;
    width: 18%;
    padding: 0 20px;
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover;
}
.box-content .left .headerleft{
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    border-bottom: 1px solid white;
}
.box-content .left .headerleft a{
}
.box-content .left .list-item .item{
    display: block;
    text-align: left;
    padding: 1rem 0;
}
.box-content .left .list-item .item a{
    font-size: 1.2em;
    color: rgba(255,255,255,.8);
}
.box-content .left .list-item .item a:hover{
    color: white;
}

.box-content .right{
    height: 500px;
    width: 82%;
}
.box-content .right .header-right{

}
.box-content .right .content-right{
    background: red;
    height: 300px;
}